ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #e4e4e0;
  width: 100%;
}

li {
  padding: 3px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f38989;
  color: white !important;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
table {
  width: 100%;
}
table td:first-child {
  width: 20%;
}
table td:nth-child(2) {
  width: 40%;
}
table td:nth-child(3) {
  width: 40%;
}
.tab1 {
  width: 80%;
}
.tab1 td:first-child {
  width: 50%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  color: white;

  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.buttonLink {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
.buttonLink:hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.listScroll {
  height: 600px;
  overflow: auto;
}

.inputBox {
  margin-bottom: 5px;
  margin-top: 5px;
}
.SearchData {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.SearchData > div {
  width: 20%;
  margin: 0 auto;
}
.SearchBtn {
  width: 100%;
  margin: 0 auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
