.menu {
  list-style-type: none;
  padding: 10px;
  background-color: #fcfbfb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0vmin;
}
.menu > li:hover {
  background-color: yellow;
  border: 1px solid #0f0303;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
  border-radius: 10px;
}
a {
  color: #0f0303;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
  padding: 5px;
  border-radius: 10px;
}
.menu li {
  margin-left: 10px;
  display: inline;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown li {
  margin-left: 10px;
  display: grid;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
